{% extends 'Professionals/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sub {
            background-color: #ebebeb;
            width: max-content;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body><br><br><br><br>
    <h1 align="center">EDIT PROFILE</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="sub">
        <table align="center" border="4">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" value="{{professional.professional_name}}" id=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" value="{{professional.professional_contact}}" id=""></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="txt_address" value="{{professional.professional_address}}" id=""></td>
            </tr>
            <tr>
                <td>About</td>
                <td><input type="text" name="txt_about" value="{{professional.Professional_about}}" id=""></td>
            </tr>
            <tr>
                <td>Consulting Fees</td>
                <td><input type="text" name="txt_fees" value="{{professional.professional_fees}}" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Edit"></td>
            </tr>
        </table>
        </div></div>
    </form>
</body>
</html>
{% endblock content %}