{% extends 'Professionals/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sub {
            background-color: #ebebeb;
            width: max-content;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <br><br><br><br>
    <h1 align="center"><b>NEW REQUESTS</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="sub">
        <table align="center" border="3" width="50%" height="100px">
            <tr align="center">
                <th>Sl.No</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Date</th>
                <th colspan="2">Action</th>
            </tr>
            {% for i in requestdata %}
            <tr align="center">
                <td>{{forloop.counter}}</td>
                <td>{{i.username.user_name}}</td>
                <td><a href="{{i.username.photo_url}}"><img src="{{i.username.photo_url}}" alt="" width="30px"></a></td>
                <td>{{i.username.user_email}}</td>
                <td>{{i.username.user_contact}}</td>
                <td>{{i.requests.request_date}}</td>
                <td><a href="{% url 'webprofessionals:acceptrequest' i.id %}">Accept</a></td>
                <td><a href="{% url 'webprofessionals:rejectrequest' i.id %}">Add to waiting list</a></td>
            </tr>
            {% endfor %}
        </table>
        </div></div>
    </form>
</body>
</html>
{% endblock content %}