{% extends 'professionals/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sub {
            background-color: #ebebeb;
            width: max-content;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body><br><br><br><br>
    <h1 align="center"><b>PROFILE</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="sub">
        <table border="5" align="center">
            <tr>
                <td colspan="2" align="center"><img src="{{professional.professional_photo}}" alt="Profile Picture" width="200px" height="200px"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{professional.professional_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{professional.professional_email}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{professional.professional_contact}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{professional.professional_address}}</td>
            </tr>
            <tr>
                <td>About</td>
                <td>{{professional.professional_about}}</td>
            </tr>
            <tr>
                <td>Consulting Fees</td>
                <td>{{professional.professional_fees}}</td>
            </tr>
            <tr align="center">
                <td colspan="2"><a href="{% url 'webprofessionals:editprofile' %}">Edit Profile</a></td>
            </tr>
            <tr align="center">
                <td colspan="2"><a href="{% url 'webprofessionals:changepassword' %}">Change Password</a></td>
            </tr>
        </table>
        </div></div>
    </form>
</body>
</html>
{% endblock content %}