<div class="main-card" id="sel_professional">
    {% for i in professionalsdata %}
    <div class="pro-card">
        <div><img src="{{ i.professional.professional_photo }}" width="150" height="150" alt=""></div>
        <div class="details">
            <div> <b>Name</b> :{{ i.professional.professional_name }}</div>
            <div><b>Pro</b> :{{i.pro.profession_name}}</div>
            <div> <b>Spe</b> :{{ i.professional.professional_specification }}</div>
            <div><b>About</b> :{{ i.professional.professional_about }}</div>
            <div>{% if i.condition == 0 %}
                <a href="{% url 'webuser:sendrequest' i.id %}">Send Request</a>
                {% else %}
                Request Already Send
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>