{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sub {
            padding: 20px;
            background-color: #ebebeb;
            width: fit-content;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <br><br><br><br><br><h1 align="center"><b>EDIT PROFILE</b></h1>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="sub">
                <table>
                    <tr>
                        <td><label for="txt_name">Name</label></td>
                        <td><input type="text" name="txt_name" value="{{user.user_name}}"></td>
                    </tr>
                    <tr>
                        <td><label for="txt_contact">Contact</label></td>
                        <td><input type="text" name="txt_contact" value="{{user.user_contact}}"></td>
                    </tr>
                    <tr>
                        <td><label for="txt_address">Address</label></td>
                        <td><input type="text" name="txt_address" value="{{user.user_address}}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Edit"></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content%}