<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><br><br><br><br><br><br>
    <form action="" method="post">
        {% csrf_token %}
        <table  align="center"  border="2">
            <tr align="center">
                <td><img src="{{professionaldata.professional_photo}}" alt="" width="150px"></td>
            </tr align="center">
            <tr align="center">
                <td><b>Name : </b>{{professionaldata.professional_name}}</td>
            </tr>
            <tr align="center">
                <td><b>Contact : </b>{{professionaldata.professional_contact}}</td>
            </tr>
            <tr align="center">
                <td><b>Email : </b>{{professionaldata.professional_email}}</td>
            </tr>
            <tr align="center">
                <td><b>Address : </b>{{professionaldata.professional_address}}</td>
            </tr>
            <tr align="center">
                <td><b>Profession : </b>{{professiondata.profession_name}}</td>
            </tr>
            <tr align="center">
                <td><b>Specification : </b>{{professionaldata.professional_specification}}</td>
            </tr>
            <tr align="center">
                <td><b>About : </b>{{professionaldata.professional_about}}</td>
            </tr>
        </table>
        <h5 align="center">Want to chat? <a href="{% url 'webuser:sendappoinment' id %}">Book an appinment.</a></h5>
    </form>
</body>
</html>