{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Complaints</title>
</head>
<body>
    <h1><b> USER COMPLAINTS</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-lg-6">
            <div class="card-box">
                <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr align="center">
                <th>Sl.No</th>
                <th>Name</th>
                <th>Complaint Type</th>
                <th>Complaint</th>
                <th>Complaint Date</th>
                <th>Action</th>
            </tr>
            {% for i in ucomplaintdata %}
            <tr align="center">
                <td>{{ forloop.counter }}</td>
                <td>{{ i.username.user_name}}</td>
                <td>{{ i.ucomplainttype.complainttype_name }}</td>
                <td>{{ i.usercomplaints.complaint_name}}</td>
                <td>{{ i.usercomplaints.complaint_date}}</td>
                <td><a href="{% url 'webadmin:replycomplaints' i.id %}">Reply</a></td>
            </tr>
            {% endfor %}
        </table>
        </div></div></div>

        <h1><b> PROFESSIONAL COMPLAINTS</b></h1>
        <div class="col-lg-6">
            <div class="card-box">
                <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr align="center">
                <th>Sl.No</th>
                <th>Name</th>
                <th>Complaint Type</th>
                <th>Complaint</th>
                <th>Complaint Date</th>
                <th>Action</th>
            </tr>
            {% for j in pcomplaintdata %}
            <tr align="center">
                <td>{{ forloop.counter }}</td>
                <td>{{ j.profname.professional_name}}</td>
                <td>{{ j.pcomplainttype.complainttype_name }}</td>
                <td>{{ j.profcomplaints.complaint_name}}</td>
                <td>{{ j.profcomplaints.complaint_date}}</td>
                <td><a href="{% url 'webadmin:replycomplaints' j.id %}">Reply</a></td>
            </tr>
            {% endfor %}
        </table>
        </div></div></div>
    </form>
</body>
</html>
{% endblock content %}