<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Type</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter Complaint Type</td>
                <td><input type="text" name="txt_comptype" id="" value="{{comptype_data.complainttype_name}}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>

            <tr>
                <td>Sl.No</td>
                <td>Complaint Type</td>
                <td>Action</td>
            </tr>
            {% for i in comptype %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.comptype.complainttype_name}}</td>
                <td>
                    <a href="{% url 'webadmin:delcomptype' i.id %}">Delete</a>
                    <a href="{% url 'webadmin:updatecomptype' i.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>