{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User List</title>
</head>
<body>
    <br><br><br>
    <h1><b>NEW USER</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <!-- <div class="col-lg-6"> -->
            <div class="card-box">
                <div class="card-block">
        <table  class="table table-bordered mb-0">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Photo</th>
            </tr>
            {% for i in userdata %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_email}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{{i.user.user_address}}</td>
                <td>{{i.user.user_dob}}</td>
                <td>{{i.user.user_gender}}</td>
                <td><a href="{{i.user.photo_url}}"><img src="{{i.user.photo_url}}" alt="" width="40px" height="50px"></a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}