{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body >
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-lg-6">
            <div class="card-box">
                <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr>
                <td>Select District</td>
                <td>
                    <select name="sel_district">
                        {% for i in district %}
                        <option 
                        {% if i.id == place.district_id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">
                            {{i.district.district_name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enter Place</td>
                <td><input type="text" name="txt_place" value="{{placedata.place_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save"></td>
            </tr>
        </table>
        </div></div></div>
        <div class="col-lg-6">
            <div class="card-box">
                <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr>
                <th>Sl.No</th>
                <th>District</th>
                <th>Place</th>
                <th>Action</th>
            </tr>
            {% for i in place %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.district.district_name}}</td>
                <td>{{i.place.place_name}}</td>
                <td>
                    <a href="{% url 'webadmin:delplace' i.id %}">Delete </a>|
                    <a href="{% url 'webadmin:updateplace' i.id %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}