<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Feedback</title>
</head>
<body>
    <br><br><br><br>
    <h1 align="center"><b>PROFESSIONAL FEEDBACK</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="5">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
            {% for i in prof_feedback %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.professionalname.professional_name }}</td>
                <td>{{ i.feedback.feedback_name }}</td>
                <td>{{ i.feedback.feedback_date }}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br><br>
        <h1 align="center"><b>USER FEEDBACK</b></h1>

        <table align="center" border="5">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
            {% for i in userfeedback %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.username.user_name }}</td>
                <td>{{ i.feedback.feedback_name }}</td>
                <td>{{ i.feedback.feedback_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>