{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Feedback</title>
</head>
<body>
    <br><br><br><br>
    <h1 ><b>PROFESSIONAL FEEDBACK</b></h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="card-box">
            <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
            {% for i in prof_feedback %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.professionalname.professional_name }}</td>
                <td>{{ i.feedback.feedback_name }}</td>
                <td>{{ i.feedback.feedback_date }}</td>
            </tr>
            {% endfor %}
        </table>
        </div></div>
        <br><br><br>
        <h1><b>USER FEEDBACK</b></h1>
        <div class="card-box">
            <div class="card-block">
        <table class="table table-bordered mb-0">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
            {% for i in userfeedback %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.username.user_name }}</td>
                <td>{{ i.feedback.feedback_name }}</td>
                <td>{{ i.feedback.feedback_date }}</td>
            </tr>
            {% endfor %}
        </table>
        </div></div>
    </form>
</body>
</html>
{% endblock content %}